In [15]:
from sqlalchemy import create_engine
import pandas as pd
from config.py import pg_uri

ModuleNotFoundError: No module named 'config.py'; 'config' is not a package

In [11]:
engine = create_engine('postgresql://postgres:RememberTruck@localhost/EmployeeSQL')

In [13]:
testtable = pd.read_sql_table('departments',con=engine)

In [14]:
display(testtable)

  dept_no           dept_name
0    d001           Marketing
1    d002             Finance
2    d003     Human Resources
3    d004          Production
4    d005         Development
5    d006  Quality Management
6    d007               Sales
7    d008            Research
8    d009    Customer Service